name: pkgdown

on:
  workflow_dispatch:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  pkgdown:
    runs-on: ubuntu-latest
    concurrency: pkgdown

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: release
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::pkgdown
          needs: website

      - name: Build pkgdown site
        run: pkgdown::build_site_github_pages(new_process = FALSE, install = FALSE)
        shell: Rscript {0}

      - name: Deploy to gh-pages
        uses: r-lib/actions/deploy-pages@v2
