name: tests

on:
  pull_request:
  push:
    branches: [main]

jobs:
  testthat:
    runs-on: ubuntu-latest
    env:
      CI_FAST: "false"
    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: release
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::devtools
          needs: test

      - name: Run testthat
        run: devtools::test()
        shell: Rscript {0}
